# Auto detect text files and perform LF normalization
* text=auto
data/raw/documents.jsonl filter=lfs diff=lfs merge=lfs -text
data/raw/web_documents.jsonl filter=lfs diff=lfs merge=lfs -text
data/processed/lsi_training/documents.jsonl filter=lfs diff=lfs merge=lfs -text
data/processed/lsi_training/documents.json filter=lfs diff=lfs merge=lfs -text
